
.datepicker-for-grid.trigger-button {
    position: fixed;
    left: 20px;
    bottom: 30px;
    z-index: 99999;
}

.datepicker-for-grid.datepicker-area {
    right: auto;
    left: 80px;
    top: 3px;
}

.datepicker-for-grid.datepicker-area div  {
    display: inline;
    position: relative;
    top: -3px;
    padding: 0 5px;
}

.datepicker-for-grid.datepicker-area div input {
    border: 0;
    background-color: transparent;
    box-shadow: none;
}
